$tourArrowSize = 6px
$tourArrowShadeSize = $tourArrowSize + 2px

tour-beacon
  display block
  height 40px
  width 40px
  cursor pointer

  span
    content ''
    position absolute
    left 50%
    top 50%
    margin -15px 0 0 -15px
    display block
    height 30px
    width 30px
    border-radius 100%
    background-color #3f94d0
    cursor pointer
    animation-name pulse
    animation-duration 1.5s
    animation-iteration-count infinite
    animation-timing-function ease-out

tour-backdrop
  z-index 998
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  text-align center
  background rgba(0, 0, 0, .45)

tour-tooltip
  display block
  position relative
  max-width 250px
  background-color #fff
  color #545454
  border 1px solid #ddd
  border-radius 4px
  padding 15px
  box-shadow 0 8px 6px -6px rgba(0, 0, 0, .4)
  text-align center
  cursor default
  animation-fill-mode both
  opacity 0 // starts invisible to be animated in

  // Hidden
  &.inactive
    display: none

  tour-settings
    display block
    line-height 1
    white-space nowrap
    color #811b34
    margin-top 15px
    text-transform uppercase
    font-size smaller
    cursor pointer
    z-index 1000

  tour-tooltip-arrow
    display block
    width $tourArrowShadeSize * 2 // space for maximum size
    height @width
    position absolute

    &:before
    &:after
      content ''
      display block
      width 0
      height 0
      position absolute

    // Left
    .tether-target-attached-left &
      left 100%
      top 50%
      transform translateY(-50%)

    .tether-target-attached-left &:before
      left 0
      top 2px
      border-top $tourArrowSize solid transparent
      border-bottom $tourArrowSize solid transparent
      border-left $tourArrowSize solid #fff
      border-right none
      z-index 1

    .tether-target-attached-left &:after
      left 0
      top 0
      border-top $tourArrowShadeSize solid transparent
      border-bottom $tourArrowShadeSize solid transparent
      border-left $tourArrowShadeSize solid #ddd
      border-right none

    // Right
    .tether-target-attached-right &
      right 100%
      top 50%
      transform translateY(-50%)

    .tether-target-attached-right &:before
      right 0
      top 2px
      border-top $tourArrowSize solid transparent
      border-bottom $tourArrowSize solid transparent
      border-right $tourArrowSize solid #fff
      border-left 0
      z-index 1

    .tether-target-attached-right &:after
      right 0
      top 0
      border-top $tourArrowShadeSize solid transparent
      border-bottom $tourArrowShadeSize solid transparent
      border-right $tourArrowShadeSize solid #ddd
      border-left 0

    // Top
    .tether-target-attached-top &
      top 100%
      left 50%
      transform translateX(-50%)

    .tether-target-attached-top &:before
      top 0
      left 2px
      border-left $tourArrowSize solid transparent
      border-right $tourArrowSize solid transparent
      border-top $tourArrowSize solid #fff
      border-bottom none
      z-index 1

    .tether-target-attached-top &:after
      top 0
      left 0
      border-left $tourArrowShadeSize solid transparent
      border-right $tourArrowShadeSize solid transparent
      border-top $tourArrowShadeSize solid #ddd
      border-bottom none

    // Bottom
    .tether-target-attached-bottom &
      bottom 100%
      left 50%
      transform translateX(-50%)

    .tether-target-attached-bottom &:before
      left 2px
      bottom 0
      top auto
      border-left $tourArrowSize solid transparent
      border-right $tourArrowSize solid transparent
      border-bottom $tourArrowSize solid #fff
      border-top none
      z-index 1

    .tether-target-attached-bottom &:after
      left 0
      bottom 0
      top auto
      border-left $tourArrowShadeSize solid transparent
      border-right $tourArrowShadeSize solid transparent
      border-bottom $tourArrowShadeSize solid #ddd
      border-top none

    // Diagonals
    // Top/Bottom Left
    .tether-target-attached-top.tether-target-attached-left &
    .tether-target-attached-bottom.tether-target-attached-left &
      left auto
      right 10px
      transform none

    // Top/Bottom Right
    .tether-target-attached-top.tether-target-attached-right &
    .tether-target-attached-bottom.tether-target-attached-right &
      left 10px
      transform none

    // Bottom offset
    .tether-target-attached-bottom.tether-target-attached-left &
    .tether-target-attached-bottom.tether-target-attached-right &
      top auto

.tour-highlighted
  transform-origin 50% !important
  transform scale(1.25) !important

.tour-clone
  transition transform 300ms ease-in !important

.tour-overlay
  position relative
  display block
  height 100%
  transition -webkit-filter 500ms ease-in

  &:after
    content ''
    position fixed
    left 0
    top 0
    width 0
    height 0
    overflow hidden
    background-color rgba(0,0,0,0)
    will-change background-color
    transition background-color 500ms ease-in

  &.tour-faded
    &:after
      width 100vw
      height 100vh
      background-color rgba(0, 0, 0, .6)

// Animations
$animDuration = 300ms
$animMotionStep = 30px
$animMotionScale = 0.8
$animEasingIn = ease-out
$animEasingOut = ease-in
$animBank = {
  '_tether-target-attached-bottom': translateY(-($animMotionStep)),
  '_tether-target-attached-bottom_tether-target-attached-left': translate($animMotionStep, -($animMotionStep)),
  '_tether-target-attached-bottom_tether-target-attached-right': translate(-($animMotionStep), -($animMotionStep)),
  '_tether-target-attached-left': translateX($animMotionStep),
  '_tether-target-attached-left_tether-target-attached-top': translate($animMotionStep, $animMotionStep),
  '_tether-target-attached-left_tether-target-attached-bottom': translate($animMotionStep, -($animMotionStep)),
  '_tether-target-attached-top': translateY($animMotionStep),
  '_tether-target-attached-top_tether-target-attached-left': translate($animMotionStep, $animMotionStep),
  '_tether-target-attached-top_tether-target-attached-right': translate(-($animMotionStep), $animMotionStep),
  '_tether-target-attached-right': translateX(-($animMotionStep)),
  '_tether-target-attached-right_tether-target-attached-top': translate(-($animMotionStep), $animMotionStep),
  '_tether-target-attached-right_tether-target-attached-bottom': translate(-($animMotionStep), -($animMotionStep))
}

// Generator
for $name, $motion in $animBank
  {replace('_', '.', $name)} tour-tooltip.tour-in
    animation-name fadeIn- + $name
    animation-duration $animDuration
    animation-timing-function $animEasingIn
  {replace('_', '.', $name)} tour-tooltip.tour-out
    animation-name fadeOut- + $name
    animation-duration $animDuration
    animation-timing-function $animEasingOut
  @keyframes fadeIn-{$name}
    0%, 20%
      transform none
      opacity 0
    21%
      transform $motion scale($animMotionScale)
      opacity 0
    100%
      transform none
      opacity 1
  @keyframes fadeOut-{$name}
    0%
      transform none
      opacity 1
    100%
      transform $motion scale($animMotionScale)
      opacity 0

// Beacon
@keyframes pulse
  0%
    transform scale(.3)
    opacity .5
  80%
    transform scale(1.5)
    opacity 0.01
  100%
    transform scale(2.5)
    opacity 0

// Tether

.tether-element
  position fixed !important // absolute creates a scrollable body overflow bug in Android
  z-index 999

.tether-out-of-bounds tour-beacon
  opacity: 0

.tour-faded ~ div > tour-beacon
  display: none

.tether-target-tooltip.tether-enabled
  visibility: hidden
